body{
    background-color: rgb(78, 44, 22);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
header{
    text-align: center;
    color: rgb(235, 199, 187)
}
#project-title{
    font-size: 75px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.main-content-container{
    text-align: center;
}
#upvote-section{
    text-align: center;
}
.card{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    background-color: rgb(235, 199, 187);
    width: 400px;
    display: inline-block;
    text-align: center;
} 
.upvotes{
    background-color: rgb(235, 199, 187);
    display: inline-block;
    width: 300px;
    margin-top: 20px;
}
#upvote-2{
    margin-left:200px;
    margin-right: 200px;
}
.alter-page{
    display: inline-block;
    background-color: rgb(235, 199, 187);
    width:400px;
    text-align: center;
}
#comment-section{
    background-color: rgb(235, 199, 187);
    width: 700px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}
#add-coffee{
    margin-top: 100px;
    padding-bottom: 10px;
    margin-right: 160px;
}
#search-coffee{
    padding-bottom: 10px;
}
#event-listeners{
    text-align: center;
}
