body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-headings {
  width: 100%;
  text-align: center;
}

.heading-primary {
  margin-top: 10vh;
  font-size: 55px;
}

.heading-secondary {
  font-size: 30px;
}

.gallery {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.gallery-image {
  margin-top: 10px;
  width: 300px;
  height: 300px;
}

.sub-headings {
  font-size: 30px;
}

.drink-name {
  font-size: 23px;
  margin-right: 5px;
  text-align: center;
  margin-top: 6px;
}

.drink-count-controls {
  display: flex;
  justify-content: space-around;
}

.button {
  padding: 10px;
  font-size: 15px;
}

.input-text {
  padding: 10px;
  margin-right: 5px;
}
li{
    background-color: white;
    width: 725px;
    border: 1px solid black
    
}
#coffee-list{
    text-align: center;
    
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#hot-coffee-list{
  display: inline-block;
  line-height: 10px;
  padding-left:10px;
  padding-right: 10px;
  margin-right: 200px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(235, 199, 187);
  width: 200px;
}
#iced-coffee-list{
 display: inline-block;
 vertical-align: top;
 padding-left:10px;
  padding-right: 10px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(235, 199, 187);
  height: 570px;
  width: 200px;
  list-style: 15px;
}
.font{
    font-size: 20px;
}
/* #main-content-container{
  text-align: center;
} */
#coffee-card-1{
  text-align: center;
  width: 300px;
  display: inline-block;
  margin-left: 200px;
  margin-top: 80px;
}
#coffee-card-2{
  text-align: center;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
}
#coffee-card-3{
  text-align: center;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  padding-top: 80px;
}

#upvote-section{
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#upvote-1{
display: inline-block;
}
#upvote-2{
display: inline-block;
padding-left: 280px;
padding-right: 280px;
}

#upvote-3{
display: inline-block;
}
#forms{
  text-align: center;
  margin-bottom: 15px;
  border: 4px solid rgb(235, 199, 187);
  border-radius: 10px;
}
#add-coffee{
  display: inline-block;
  padding-right: 80px;
}
#search-drink{
  display: inline-block;
  vertical-align: top;
  padding-left: 80px;
}
#search {
  padding-bottom: 70px;
}
#comment-section{
  background-color: rgb(235, 199, 187);
  border-radius: 10px;
  text-align: center;
  margin-left: 350px;
  width: 800px;
}
img{
  border-radius: 10px;
}
