.main-headings {
  width: 100%;
  text-align: center;
}

.heading-primary {
  margin-top: 10vh;
  font-size: 55px;
}

.heading-secondary {
  font-size: 30px;
}

.gallery {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.gallery-image {
  margin-top: 10px;
  width: 400px;
  height: 400px;
}

.main {
  padding: 30px 200px;
  min-height: 30vh;
  background-color: aqua;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.sub-headings {
  font-size: 30px;
}

.drink-name {
  font-size: 23px;
  margin-right: 5px;
  text-align: center;
  margin-top: 6px;
}

.drink-count-controls {
  display: flex;
  justify-content: space-around;
}

.button {
  padding: 10px;
  font-size: 15px;
}

.input-text {
  padding: 10px;
  margin-right: 5px;
}
